.App {
  text-align: center;
}

.navBar {
  background-color: #d7f3f5;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
/*  margin-top: 20px;*/
}

.main {
  height: 100%;
}

.home {
  background-image: url('background.jpg');
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.title {
  color: #d14428;
  font-family: 'Tangerine', cursive;
  font-size: 33px;


}

.register {

}

.newplace {
 weight: 100px; 


}

/*.pls {
  background-color: yellow;
}*/


h4 {
  color: brown;
  font-size: 18px;
}

.newplace {
  color: yellow;
}

.placesList a {
  color: #0A2DDE;
  font-size: 20px;
  margin-top: 40px;
  font-family: 'Rokkitt', serif;
  font-weight: bold;
}


.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.ui.header:first-child {
  margin-bottom: -.77em;
}

/*.App-body {
  background-image: https://avatars.mds.yandex.net/get-zen_doc/1131857/pub_5d4434fbe6cb9b00adf740a8_5d44351978125e00adb8cdb0/scale_1200;
}*/